/* .container{background-color: brown; color: white;
  width: 200px; height: 200px; 
  padding: 40px 20px;
  
margin: 300px 100px;} */
/* ontainer{background-color: red; color: white;width: 600px; height: 600px;
 margin:100px 100px;}
 .gudaha{padding: 10px 50px 30px 30px;}
 .gudaha img{
    padding-left: 200px; A
    margin-top: 20px;
 }
 .gudaha h1,p{
    padding-left: 150px;
 }.c */
 /* .container{background-color: red; color: black;
    margin: 200px; width: 130px; height: 90px;}
    .one{background-color: yellow; padding-left: 70px; padding-right: 700px;
    width: 10px;}
    .two{background-color: yellow;margin-left: 300px; width: 40px;}
    .three{background-color: yellow; margin-left: 500px; width: 30px;} */
    .sodhawayn{background-color: red;color: white;
      width: 100px; height: 80px;
     margin-left: 200px;
    margin-top: 150px; 
      border: 3px solid white; 
    border-radius: 50px; }
    .sodhawayn h2{padding-left: 10px;}